
<div class="container">
  <h1>Articles</h1>

  <%= form_with(url: articles_path, method: :get, data: { controller: "search-bar", turbo_frame: "articles", turbo_action: "advance"}) do |form| %>
    <div class="d-flex my-4 gap-2">
        <%= form.text_field :query, data: { action: "input->search-bar#search focusout->search-bar#focusOut keyup->search-bar#keyPress"}, class: "form-control" %>
        
        <%= form.hidden_field :save, id: "save-input", value: false %>
        <%= form.submit "Search", class: "btn btn-primary" %>
    </div>
  <% end %>

  <div>
    <%= render "articles", articles: @articles %>
  </div>

  <%= will_paginate @articles, class: "container text-center fs-4" %>

  <%= link_to "New article", new_article_path, class: "btn btn-secondary my-3" %>
</div>